//===== COLORS =====
$color-primary: #e8842c; // Màu cam chủ đạo
$color-primary-light: #f5b880; // Màu cam nhạt
$color-text-primary: #333; // Màu chữ chính (đen)
$color-text-secondary: #66402b; // Màu chữ phụ (xám)
$color-white: #fff;
$color-border-light: #ddd;
$color-border-extralight: #eee;
$color-bg-light: #f7f7f7;

$color-bg-gradient-start: #fef5e9; // Màu cam rất nhạt ở giữa
$color-bg-gradient-end: #fdfaf5; // Màu trắng ngà ở rìa

//===== FONTS =====
$font-family-primary: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 28px;

//===== LAYOUT =====
$layout-container-width: 960px; // <-- Cập nhật ở đây
