//===== COLORS =====
$color-primary: #f99100;
$color-primary-light: #ffc472;
$color-text-primary: #333;
$color-text-secondary: #66402b;
$color-white: #fff;
$color-border-light: #ddd;
$color-border-extralight: #eee;
$color-bg-light: #f7f7f7;

$color-bg-gradient-start: #fef5e9;
$color-bg-gradient-end: #fdfaf5;

//===== FONTS =====
$font-family-meiryo: "Meiryo", sans-serif;

$font-family-gothic: "Century Gothic", "Verdana", sans-serif;

$font-family-hirakaku: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
  sans-serif;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 600;

$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 28px;

//===== LAYOUT =====
$layout-container-width: 960px;
