@import "variables";
@import "responsive";

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: $layout-container-width;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-top: 5px solid $color-primary;
  position: relative;

  &__top-bar {
    width: 100%;
    font-size: $font-size-small;
    color: $color-text-secondary;
    padding: 10px 0;
  }

  &__main {
    width: 100%;
    padding: 20px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo-feminine,
  &__logo-acti {
    width: 200px;
    height: auto;
  }

  &__contact-info {
    text-align: right;
    color: $color-text-secondary;
  }

  &__address,
  &__hours,
  &__reception,
  &__holiday {
    font-size: $font-size-small;
    margin-bottom: 5px;
  }

  &__holiday {
    color: $color-primary;
  }

  &__phone {
    font-size: 28px;
    line-height: 1;
    color: $color-primary;
    padding-left: 25px;
    margin: 10px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      background: url("../images/phone_icon.png") no-repeat center center;
    }
  }

  &__nav {
    width: 100%;
    background-color: $color-bg-light;
    border-top: 1px solid $color-border-light;
    border-bottom: 1px solid $color-border-light;
  }

  &__hamburger {
    display: none;
  }

  &__nav-list {
    display: flex;
    justify-content: space-around;
  }

  &__nav-item {
    flex: 1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 1px;
      height: 20px;
      background-color: $color-border-light;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 1px;
      height: 20px;
      background-color: $color-border-light;
    }

    &:hover > .header__nav-submenu {
      display: block;
    }
  }

  &__nav-link {
    display: block;
    text-align: center;
    padding: 15px 5px;
    margin: 4px;
    border-radius: 4px;
    font-size: $font-size-base;
    color: $color-text-secondary;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }

    &--active {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.header__nav-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: auto;
  padding-top: 2px;
}

.header__nav-submenu-groups {
  display: flex;
}

.header__nav-submenu-group {
  list-style: none;
  margin: 0;
  padding: 0;

  &:first-child {
    width: 138px;
  }
  &:last-child {
    width: 138px;
  }
}

.header__nav-submenu-item {
  border-top: 1px solid $color-border-light;

  a {
    display: block;
    padding: 8px 10px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: $color-text-secondary;
    background-color: #ffc472;
    transition: background-color 0.2s;
  }

  &:hover a {
    background-color: #fca62e;
  }

  &--highlight {
    background-color: #ffc472;
    padding: 4px;

    a {
      border-radius: 4px;
      background-color: $color-primary;
      color: $color-white;

      &:hover {
        background-color: #fca62e;
      }
    }
  }
}

.header__nav-submenu-item:first-child {
  border-top: none;
}

.main-visual {
  width: 100%;
  background: linear-gradient(
    to bottom,
    $color-bg-gradient-start,
    $color-white
  );
  padding: 10px 0;

  &__content {
    position: relative;
  }

  &__images {
    font-size: 0;
  }

  &__image {
    display: none;
    width: 100%;
    height: auto;

    &--active {
      display: block;
    }
  }
}

.section-title {
  font-size: 22px;
  font-weight: 500;
  color: $color-text-secondary;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #fae2c1;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 140px;
    height: 3px;
    background-color: $color-primary;
  }
}

.section-title--no-underline {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;

  &::after {
    display: none;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: $color-white;
  border-radius: 5px;
  text-decoration: none;
  transition: opacity 0.3s;
  font-size: 14px;
  position: relative;
  padding-left: 35px;

  &::before {
    content: "▶";
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
  }

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background-color: $color-primary;
  }

  &--full-width {
    width: 100%;
    box-sizing: border-box;
  }
}

.page-content {
  padding: 40px 0;

  .container {
    display: flex;
    gap: 30px;
  }

  &__main {
    flex: 1;
  }

  &__sidebar {
    flex-basis: 230px;
    flex-shrink: 0;
  }
}

section:not(:last-child) {
  margin-bottom: 50px;
}

.concept__content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.concept__image {
  width: 200px;
  flex-shrink: 0;
}
.concept__text {
  font-size: 14px;
  line-height: 1.7;
  color: $color-text-secondary;
  ul {
    list-style-type: "・";
    padding-left: 20px;
    margin: 10px 0;
  }
}

.menu__cards {
  display: flex;
  gap: 20px;
}

.menu__card {
  flex: 1;
  border: 1px solid $color-border-light;
  display: flex;
  flex-direction: column;
  color: $color-text-secondary;
  overflow: hidden;
}

.menu__card-header {
  position: relative;
}

.menu__card-image {
  display: block;
  width: 100%;
  height: auto;
}

.menu__card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  padding: 5px 15px;
  margin: 0;
  box-sizing: border-box;
}

.menu__card-body {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu__card-description {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 15px;
  flex-grow: 1;
}

.news__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #fae2c1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 140px;
    height: 3px;
    background-color: $color-primary;
  }
}
.news__view-all-btn {
  background-color: $color-primary;
  color: $color-white;
  font-size: 12px;
  padding: 5px 15px 5px 25px;
  border-radius: 3px;
  text-decoration: none;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "▶";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
  }
}
.news__list {
  list-style: none;
  color: $color-text-secondary;
}
.news__item {
  border-bottom: 2px dotted $color-border-light;
  padding: 15px 25px;
  font-size: 14px;
  position: relative;
  time {
    margin-right: 20px;
  }
  &::before {
    content: "▶";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
  }
}

.promo-widget,
.side-menu,
.sidebar-banner,
.info-box {
  margin-bottom: 25px;
}

.sidebar-banner {
  display: block;
  margin-bottom: 25px;
}

.sidebar-banner img {
  width: 100%;
  display: block;
}

.promo-widget {
  display: block;
  position: relative;
  border: 1px solid $color-primary;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  &__image {
    display: block;
    width: 100%;
  }

  &__content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: $color-text-secondary;
    text-shadow: 0px 0px 6px $color-white, 0px 0px 4px $color-white;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6;
  }

  &__highlight {
    color: #e50000;
    font-size: 1.2em;
  }
}

.side-menu {
  border: 1px solid $color-border-light;
  padding: 10px;
}
.side-menu__title {
  color: $color-text-secondary;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 2px solid $color-primary;
}
.side-menu__list {
  list-style: none;
  color: $color-text-secondary;
}
.side-menu__category {
  margin-top: 10px;
  padding-left: 25px;
  border-bottom: 1px solid $color-border-light;
  position: relative;

  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 2px solid $color-primary;
    border-radius: 50%;
  }

  &:first-child {
    margin-top: 0;
  }
}
.side-menu__item a {
  display: block;
  padding: 4px 10px 4px 20px;
  margin-left: 15px;
  text-decoration: none;
  position: relative;
  font-size: 14px;
  &:hover {
    color: $color-primary;
  }
  &::before {
    content: "▶";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8px;
    color: $color-primary;
  }
}

.info-box {
  border: 6px solid $color-border-light;
  border-radius: 4px;
  padding: 15px;
  color: $color-text-secondary;
}
.info-box__title {
  font-size: 16px;
}
.info-box__content {
  font-size: 12px;
  line-height: 1.7;

  p {
    margin-bottom: 10px;
  }
}
.info-box__phone {
  font-size: 22px;
  font-weight: bold;
  color: $color-text-secondary;
  background: url("../images/phone_icon_2.png") no-repeat left center;
  padding-left: 30px;
  background-size: 25px;
}
.info-box__map {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  &__main {
    background-color: #fdefde;
    background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.02) 1px,
      transparent 1px,
      transparent 5px
    );
    padding: 40px 0;
    border-bottom: 1px solid #e7ceb5;
    color: $color-text-secondary;

    .container {
      display: grid;
      grid-template-columns: 350px 1fr 230px;
      gap: 20px;
    }
  }

  &__logo {
    display: block;
    width: 200px;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  &__address,
  &__hours {
    font-size: 13px;
    line-height: 1.7;
  }
  &__phone-group {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
  }
  &__phone-label {
    background-color: $color-primary;
    color: $color-white;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 3px;
  }
  &__phone-number {
    font-size: 24px;
    color: $color-primary;
    background: url("../images/phone_icon.png") no-repeat left center;
    padding-left: 30px;
    background-size: 25px;
  }

  &__sitemap {
    border: 1px solid #e9e4d9;
    padding: 20px;
  }

  &__services {
    background-color: $color-white;
    padding: 20px;
    margin-right: 20px;

    &-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-left: 25px;
      position: relative;

      &::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border: 2px solid $color-primary;
        border-radius: 50%;
      }
    }
  }

  &__link-list {
    list-style: none;

    &--item {
      margin-left: 15px;
      padding: 2px 0 2px 15px !important;
    }

    &--columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, auto);
      grid-auto-flow: column;
      gap: 0 20px;
    }

    li a {
      display: block;
      padding: 6px 0 6px 15px;
      font-size: 14px;
      text-decoration: none;
      position: relative;
      &:hover {
        color: $color-primary;
      }
      &::before {
        content: "▶";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 8px;
        color: $color-text-secondary;
      }
    }
  }

  &__bottom {
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
  }
}
